a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.anime-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

body {
  color: #40514E;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

.bottom-container {

  background-color: #66BFBF;
  padding : 50px 0 20px;

}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
.copyright
{
  padding: 20px 0;
  font-size:0.75rem;
  color: #EAF6F6;

}
.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-me
{
  width: 40%;
  margin: 40px auto 60px;
}

h1 {
  margin: 50px auto 0 auto;
  /* 100% = 16px = 1em */
  font-size: 5.62rem;
  /*90px = 5.625em */
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.middle-container {
  margin: 100px 0;
}

p
{
  line-height: 2;
}
.pro {
  text-decoration: underline;
}

.programmer {
  font-weight: normal;
}
.profile
{
  margin-top: 50px;
}

.round-dots{
  margin:100px auto;
  border-width: 7px;
  border-style: dotted none none none;
  border-color: #d0e8f2;
  width:4%;


}

.self-desc
{
  width : 40%;
  margin: auto;
}
.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;

  /* text-align: left !important; */
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  padding-top: 100px;
  background-color: #EAF6F6;
  position: relative;
}

/* .anmol{
  line-height: 2;
}
.anime-skill-desc
{
  clear : right;
}
*/
